<p>We support organizations and initiatives that serve children and families who can most benefit from our commitment. They include:</p>
<ul id="organizations">
				<li id="kipp">
					<a href="http://www.kipp.org/">KIPP</a>
				</li>
				<li id="real_school_gardens">
					<a href="http://www.realschoolgardens.org/">REAL School Gardens</a>
				</li>
				<li id="east_dallas_community_schools">
					<a href="http://www.edcschool.org/">East Dallas Community Schools</a>
				</li>
				<li id="teach_for_america">
					<a href="http://www.teachforamerica.org/">Teach For America</a>
				</li>
				<li id="school_leaders_network">
					<a href="http://www.nslnetwork.org/">School Leaders Network</a>
				</li>
				<li id="botanical_research">
					<a href="http://www.brit.org/">Botanical Research Institute of Texas</a>
				</li>
				<li id="new_profit">
				  <a href="http://www.newprofit.com">New Profit, Inc.</a>
				</li>
				<li id="uplift">
				  <a href="http://www.uplifteducation.org">Uplift Education</a>
				</li>
				<li id="zero_five">
				  <a href="http://www.zerotofivefunderscollaborative.org">Zero to Five Collaborative</a>
				</li>
				<li id="rainwater_leadership_alliance">
					<a href="http://www.anewapproach.org">Rainwater Leadership Alliance</a>
				</li>
</ul>
